# Funcao e dataFrame com pandas e numpy

In [3]:
import pandas as pd
import numpy as np

In [24]:
dados = {
    'nome': ['Alice', 'Bob', 'Charlie','David','Emily'],
    'Idade': [25,30,35,40,45],
    'Salario': [5000, 6000, 7000, 8000, 9000]}

var_1 = df['Idade']

df = pd.DataFrame(dados)

var_1 = df['Idade']
var_2 = df['Salario']
df

      nome  Idade  Salario
0    Alice     25     5000
1      Bob     30     6000
2  Charlie     35     7000
3    David     40     8000
4    Emily     45     9000

In [14]:
soma_salario = 0
contador = 0
i= 0 

while i <len(df):
    soma_salario += df['Salario'][i]
    contador += 1
    media_salario = soma_salario / contador

    if media_salario > 7000:
        break
    print(media_salario)

    i += 1

5000.0
5500.0
6000.0
6500.0
7000.0

In [7]:
i = 0

while i < len(df):
    print('Nome:', df['nome'][i], '- Idade', df['Idade'][i] )
    i +=1

Nome: Alice - Idade 25
Nome: Bob - Idade 30
Nome: Charlie - Idade 35
Nome: David - Idade 40
Nome: Emily - Idade 45

In [10]:
i = 0

while i < len (df):
    if df['Salario'][i] >6000:
        print(df.iloc[i])
    
    i += 1

nome       Charlie
Idade           35
Salario       7000
Name: 2, dtype: object
nome       David
Idade         40
Salario     8000
Name: 3, dtype: object
nome       Emily
Idade         45
Salario     9000
Name: 4, dtype: object

In [11]:
for salario in df["Salario"]:
    print('salario: ' ,salario)

salario:  5000
salario:  6000
salario:  7000
salario:  8000
salario:  9000

In [12]:
for coluna in df.select_dtypes(include = ['int', 'float']):
    media = df[coluna].mean()
    print('a media de ', coluna, ':', media)

a media de  Idade : 35.0
a media de  Salario : 7000.0

In [13]:
print(df['nome'].values)

['Alice' 'Bob' 'Charlie' 'David' 'Emily']

In [16]:
# calcular bonus para o funcionario funcao def

# programa para calcular bonus de 10% para os funcionarios, e mostre o bonus

def bonus():
    bonos = df['Salario'] * 1.1
    return bonos

bonus()

0    5500.0
1    6600.0
2    7700.0
3    8800.0
4    9900.0
Name: Salario, dtype: float64

In [21]:
def bonus(salario):
    return salario *0.1

bonus_lista = []

for indice, linha in df.iterrows():
    bonus_lista.append(bonus(linha['Salario']))
print(bonus_lista)

[500.0, 600.0, 700.0, 800.0, 900.0]

In [25]:
# calcular a media de idade e salario e retorne apenas um datafre contendo as suas informacoes

media_idade = df['Idade'].mean()
media_salario = df['Salario'].mean()

df_final = pd.concat([var_1, var_2], axis=1)
df_final

   Idade  Salario
0     25     5000
1     30     6000
2     35     7000
3     40     8000
4     45     9000

In [ ]:
df_tipo = df[df['Tipo'] == 'M'] | df