In [1]:
import pandas as pd
import numpy as np

1. Crie uma tupla chamada marca_carros com os seguintes elementos: Chevrolet, Fiat, Honda, Audi, Mercedez, Toyota. Acesse o terceiro elemento da tupla, substitua por Volvo e crie uma variável chamada marca_carros_modificadas. Após isso, concatene esta tupla com uma nova tupla contendo Mitsubishi e Ford. Por fim, retorne apenas uma tupla chamada tupla-carros.

In [6]:
marca_carros = ('Chevrolet', 'Fiat', 'Honda', 'Audi','Mercedez', 'Toyota')
arr = np.array(marca_carros)
arr[2] = 'Volvo'
marca_carros = tuple(arr)

marca_carros

('Chevrolet', 'Fiat', 'Volvo', 'Audi', 'Mercedez', 'Toyota')

2. Crie uma lista com os números do seu RA, separado por vírgula para cada número. Após isso, crie uma estrutura usando a função def para retornar a soma do quadrado do seu número do RA.

In [17]:
rm = [5,5,3,0,7,6]
quadrado = []

def form():
    for i in rm:
        formula = i**2
        quadrado.append(formula)
    
    return formula

form()
resultado = np.sum(quadrado)
resultado

144

3. Crie uma estrutura de entrada para o usuário na qual seja solicitado o seu primeiro e segundo nome. Em seguida, desenvolva uma estrutura que retorne à junção do primeiro e segundo nome em um print, com a primeira letra de cada nome em maiúscula

In [24]:
nome = input('qual é o seu nome?')
sobrenome = input('qual é o seu sobrenome?')

u1 = nome[0].upper()
juncao1 = u1 + nome[1:]

u2 = sobrenome[0].upper()
juncao2 = u2 + sobrenome[1:]

print(f'Seu nome é: {juncao1} {juncao2}')

Seu nome é: Julia Luz

4. Para a lista de carros Chevrolet, Fiat, Honda, Audi, Mercedez, Toyota contendo as respectivas quantidades de vendas, 2000, 1300, 2500, 900, 832, 1500, crie um dataframe com estas informações e retorne quatro prints mostrando a quantidade mínima, máxima, média e soma de vendas.

In [35]:
carros = {
    'marca' : ['Chevrolet','Fiat', 'Honda', 'Audi', 'Mercedez', 'Toyota'],
    'vendas' : [2000, 1300, 2500, 900, 832, 1500]
}

carros = pd.DataFrame(carros)
carros

       marca  vendas
0  Chevrolet    2000
1       Fiat    1300
2      Honda    2500
3       Audi     900
4   Mercedez     832
5     Toyota    1500

In [39]:
minimo = carros.loc[carros['vendas'].idxmin()]
maximo = carros.loc[carros['vendas'].idxmax()]
media = carros['vendas'].mean()
soma = carros['vendas'].sum()

print(minimo)
print(maximo)
print('a media de vedas é:', media)
print('a soma das vedas é:', soma)

marca     Mercedez
vendas         832
Name: 4, dtype: object
marca     Honda
vendas     2500
Name: 2, dtype: object
a media de vedas é: 1505.3333333333333
a soma das vedas é: 9032

5. Armazene os dados a seguir em uma variável chamada temperatura (28, 30, 32, 29, 27, 26, 25, 26, 28, 29, 35, 31, 32, 33, 34, 33, 31, 30, 29, 28, 27, 26, 25, 26, 27, 28, 38, 31, 32, 33) e crie um Pandas Series para estes dados. Após isso, responda:
  
    a) Qual a temperatura média do mês.
  
    b) Determine o dia mais quente do mês.
  
    c) Encontre os dias em que a temperatura foi superior a 30 graus Celsius.
  
    d) Calcule o número de dias em que a temperatura foi superior à média do mês.

In [49]:
temperatura = [28, 30, 32, 29, 27, 26, 25, 26, 28, 29, 35, 31, 32, 33, 34, 33, 31, 30, 29, 28, 27, 26, 25, 26, 27, 28, 38, 31, 32, 33]

temp_series = pd.Series(temperatura)

media = temp_series.mean()
maximo = temp_series.max()

temperatura_maior = []
for i in temp_series:
    if i > 30:
        temperatura_maior.append(i)



print('a media de temperatura é: ', media)
print('a temperatura maxima é: ', maximo)
print('as temeraturas sueriores a 30 é: ', temperatura_maior)
# mostrar index

a media de temperatura é:  29.633333333333333
a temperatura maxima é:  38
as temeraturas sueriores a 30 é:  [32, 35, 31, 32, 33, 34, 33, 31, 38, 31, 32, 33]

6. Considere os dados históricos de precipitação pluviométrica mensal na cidade de São Paulo, representados em milímetros, para o ano de 2023: 270, 210, 160, 120, 80, 50, 40, 50, 80, 140, 190, 250 e desenvolva lógicas para resolver os seguintes problemas usando numpy unidimensional: (2,0)
  
    a) Calcule o total de precipitação pluviométrica ao longo do ano de 2023.
  
    b) Determine o mês com maior precipitação.
  
    c) Calcule a média de chuvas por mês.
  
    d) Encontre os meses em que a precipitação foi superior a 150 mm.
  
    e) Determine a quantidade de meses em que a precipitação foi inferior a 100 mm.

In [52]:
pluv = [270, 210, 160, 120, 80, 50, 40, 50, 80, 140, 190, 250]

soma = np.sum(pluv)
maximo = np.max(pluv)
media = np.mean(pluv)

print(soma)
print(maximo)
print(media)

1640
270
136.66666666666666