In [55]:
import pandas as pd
import numpy as np

1. Crie uma tupla chamada marca_carros com os seguintes elementos: Chevrolet, Fiat, Honda, Audi, Mercedez, Toyota. Acesse o terceiro elemento da tupla, substitua por Volvo e crie uma variável chamada marca_carros_modificadas. Após isso, concatene esta tupla com uma nova tupla contendo Mitsubishi e Ford. Por fim, retorne apenas uma tupla chamada tupla-carros.

In [6]:
marca_carros = ('Chevrolet', 'Fiat', 'Honda', 'Audi','Mercedez', 'Toyota')
arr = np.array(marca_carros)
arr[2] = 'Volvo'
marca_carros = tuple(arr)

marca_carros

('Chevrolet', 'Fiat', 'Volvo', 'Audi', 'Mercedez', 'Toyota')

2. Crie uma lista com os números do seu RA, separado por vírgula para cada número. Após isso, crie uma estrutura usando a função def para retornar a soma do quadrado do seu número do RA.

In [17]:
rm = [5,5,3,0,7,6]
quadrado = []

def form():
    for i in rm:
        formula = i**2
        quadrado.append(formula)
    
    return formula

form()
resultado = np.sum(quadrado)
resultado

144

3. Crie uma estrutura de entrada para o usuário na qual seja solicitado o seu primeiro e segundo nome. Em seguida, desenvolva uma estrutura que retorne à junção do primeiro e segundo nome em um print, com a primeira letra de cada nome em maiúscula

In [24]:
nome = input('qual é o seu nome?')
sobrenome = input('qual é o seu sobrenome?')

u1 = nome[0].upper()
juncao1 = u1 + nome[1:]

u2 = sobrenome[0].upper()
juncao2 = u2 + sobrenome[1:]

print(f'Seu nome é: {juncao1} {juncao2}')

Seu nome é: Julia Luz

4. Para a lista de carros Chevrolet, Fiat, Honda, Audi, Mercedez, Toyota contendo as respectivas quantidades de vendas, 2000, 1300, 2500, 900, 832, 1500, crie um dataframe com estas informações e retorne quatro prints mostrando a quantidade mínima, máxima, média e soma de vendas.

In [79]:
carros = {
    'marca' : ['Chevrolet','Fiat', 'Honda', 'Audi', 'Mercedez', 'Toyota'],
    'vendas' : [2000, 1300, 2500, 900, 832, 1500]
}

carros = pd.DataFrame(carros)
carros

       marca  vendas
0  Chevrolet    2000
1       Fiat    1300
2      Honda    2500
3       Audi     900
4   Mercedez     832
5     Toyota    1500

In [83]:
minimo = carros.loc[carros['vendas'].idxmin()]
maximo = carros.loc[carros['vendas'].idxmax()]
media = carros['vendas'].mean()
soma = carros['vendas'].sum()

print(minimo)
print('\n',maximo)
print('\na media de vendas é:', media)
print('\na soma das vendas é:', soma)

marca     Mercedez
vendas         832
Name: 4, dtype: object

 marca     Honda
vendas     2500
Name: 2, dtype: object

a media de vendas é: 1505.3333333333333

a soma das vendas é: 9032

5. Armazene os dados a seguir em uma variável chamada temperatura (28, 30, 32, 29, 27, 26, 25, 26, 28, 29, 35, 31, 32, 33, 34, 33, 31, 30, 29, 28, 27, 26, 25, 26, 27, 28, 38, 31, 32, 33) e crie um Pandas Series para estes dados. Após isso, responda:
  
    a) Qual a temperatura média do mês.
  
    b) Determine o dia mais quente do mês.
  
    c) Encontre os dias em que a temperatura foi superior a 30 graus Celsius.
  
    d) Calcule o número de dias em que a temperatura foi superior à média do mês.

In [51]:
temperatura = [28, 30, 32, 29, 27, 26, 25, 26, 28, 29, 35, 31, 32, 33, 34, 33, 31, 30, 29, 28, 27, 26, 25, 26, 27, 28, 38, 31, 32, 33]

temp_series = pd.Series(temperatura)

media = temp_series.mean()
maximo = temp_series.max()
maior_temp = temp_series[temp_series >30]
maior_media = temp_series[temp_series >= media]



print(' a media de temperatura é: ', media )
print('\n a temperatura maxima é: ', maximo)
print(f'\n teve {len(maior_temp)} dias em que a temperatura foi superior a 30 graus, \n e as temperaturas com seus indices maiores que 30 sao:\n {maior_temp}')
print(f'\n teve {len(maior_media)} dias em que a temperatura foi superior a a media do mes, \n as temperaturas maiores que a media do mes inteiro é:\n {maior_media}')
# mostrar index

 a media de temperatura é:  29.633333333333333

 a temperatura maxima é:  38

 teve 12 dias em que a temperatura foi superior a 30 graus,
 e as temperaturas com seus indices maiores que 30 sao:
 2     32
10    35
11    31
12    32
13    33
14    34
15    33
16    31
26    38
27    31
28    32
29    33
dtype: int64

 teve 14 dias em que a temperatura foi superior a a media do mes,
 as temperaturas maiores que a media do mes inteiro é:
 1     30
2     32
10    35
11    31
12    32
13    33
14    34
15    33
16    31
17    30
26    38
27    31
28    32
29    33
dtype: int64

6. Considere os dados históricos de precipitação pluviométrica mensal na cidade de São Paulo, representados em milímetros, para o ano de 2023: 270, 210, 160, 120, 80, 50, 40, 50, 80, 140, 190, 250 e desenvolva lógicas para resolver os seguintes problemas usando numpy unidimensional: (2,0)
  
    a) Calcule o total de precipitação pluviométrica ao longo do ano de 2023.
  
    b) Determine o mês com maior precipitação.
  
    c) Calcule a média de chuvas por mês.
  
    d) Encontre os meses em que a precipitação foi superior a 150 mm.
  
    e) Determine a quantidade de meses em que a precipitação foi inferior a 100 mm.

In [73]:
ano = {
    'Milimetros': [270, 210, 160, 120, 80, 50, 40, 50, 80, 140, 190, 250],
    'messes': ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
}

df = pd.DataFrame(ano)
df

    Milimetros     messes
0          270    Janeiro
1          210  Fevereiro
2          160      Março
3          120      Abril
4           80       Maio
5           50      Junho
6           40      Julho
7           50     Agosto
8           80   Setembro
9          140    Outubro
10         190   Novembro
11         250   Dezembro

In [77]:
soma = np.sum(ano['Milimetros'])

maximo = df.loc[df['Milimetros'].idxmax()]

media = np.mean(ano['Milimetros'])

maior_prep = df[df['Milimetros'] >150]

menor_prep = df[df['Milimetros'] <100]


print(f'A soma do total de preciptacao pluviometrica do ano é: {soma}')
print(f'\nO maior indice pluviometrico é:\n{maximo}')
print(f'\nA media pluviometrica do ano é: {media}')
print(f'\nOs messes em que o indice pluviometrio é maior que 150mm é:\n {maior_prep}')
print(f'\nOs messes em que o indice pluviometrio é menor que 100mm é:\n {maior_prep}')

A soma do total de preciptacao pluviometrica do ano é: 1640

O maior indice pluviometrico é:
Milimetros        270
messes        Janeiro
Name: 0, dtype: object

A media pluviometrica do ano é: 136.66666666666666

Os messes em que o indice pluviometrio é maior que 150mm é:
     Milimetros     messes
0          270    Janeiro
1          210  Fevereiro
2          160      Março
10         190   Novembro
11         250   Dezembro

Os messes em que o indice pluviometrio é menor que 100mm é:
     Milimetros     messes
0          270    Janeiro
1          210  Fevereiro
2          160      Março
10         190   Novembro
11         250   Dezembro