In [6]:
v =float(input("Qual e a tensao entre nos (*/ω＼*), meu nobre?"))
i = float(input("qual e a corrente, arrombado?"))

p = v * i
print(f"a potencia e {p} ampere")

a potencia e 196.0 ampere

In [10]:
def potencia(tensao, corrente):
    pot = tensao * corrente
    return pot

tensao =float(input("Qual e a tensao entre nos (*/ω＼*), meu nobre?"))
corrente = float(input("qual e a corrente, chefinho?"))

resultado =  potencia(tensao, corrente)

print(f'o valor da potencia é {resultado} A')

o valor da potencia é 465.0 A

In [ ]:
idade = int(input("qual e a sua idade"))

if idade <= 11:
    print("crianca")
    
elif idade >=12 and idade<=20:
    print("adolecente")

elif idade >= 21 and idade<=40:
    print("adulto jovem")

elif idade >=41 and idade<= 65:
    print("meia idade")

else:
    print ("idoso")

In [1]:
ordem = ["first", "second", "third"]
titulo = ["king", "queen", "duke"]

for x in ordem:
    for y in titulo:
        print (x,y)

first king
first queen
first duke
second king
second queen
second duke
third king
third queen
third duke

In [5]:
alunos = ["joao", "maria", "pedro", "ana"]
notas = [8.5, 9.0, 9.5, 7.5]
faltas = [2, 0, 1, 3]

for i in range(len(alunos)):
    if notas[i] >= 8 and faltas[i] == 0:
        print(f"{alunos[i]} foi aprovado com {notas[i]}")

maria foi aprovado com 9.0

In [19]:
pip install pandas

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python311\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [30]:
import pandas as pd

In [38]:
dados = {
    'tipo de carro': ['sedan', 'SUV', 'hatchback', 'caminhonete'],
    'tipo de direcao': ['hidraulica', 'eletrica', 'mecanica', 'eletrica'],
    'tipo de pneu': ['radial', 'diagonal', 'radial', 'diagonal'],
    'faixa de preco': ['alto', 'medio', 'baixo', 'alto'],
    'potencia-CV': [120, 130, 100, 180],
    'velocidade de cruzeiro': [True, False, True, True]
}

df_carros = pd.DataFrame(dados)
df_carros

,tipo de carro,tipo de direcao,tipo de pneu,faixa de preco,potencia-CV,velocidade de cruzeiro
0,sedan,hidraulica,radial,alto,120,True
1,SUV,eletrica,diagonal,medio,130,False
2,hatchback,mecanica,radial,baixo,100,True
3,caminhonete,eletrica,diagonal,alto,180,True

In [39]:
# mostra as informacoes, desde a quantidade ate o tipo dos dados e os nomes das variaveis 
df_carros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tipo de carro           4 non-null      object
 1   tipo de direcao         4 non-null      object
 2   tipo de pneu            4 non-null      object
 3   faixa de preco          4 non-null      object
 4   potencia-CV             4 non-null      int64
 5   velocidade de cruzeiro  4 non-null      bool
dtypes: bool(1), int64(1), object(4)
memory usage: 296.0+ bytes

In [42]:
# mostra uma quantidade limitada de linhas a ser mostrada
df_carros.head(3)

,tipo de carro,tipo de direcao,tipo de pneu,faixa de preco,potencia-CV,velocidade de cruzeiro
0,sedan,hidraulica,radial,alto,120,True
1,SUV,eletrica,diagonal,medio,130,False
2,hatchback,mecanica,radial,baixo,100,True

In [43]:
# mostra a coluna exata do data frame
df_carros['tipo de carro']

0          sedan
1            SUV
2      hatchback
3    caminhonete
Name: tipo de carro, dtype: object

In [49]:
print('o valor minimo é', df_carros['potencia-CV'].min())
print('o valor maximo é', df_carros['potencia-CV'].max())
print('o valor media é', df_carros['potencia-CV'].mean())
print('o valor mediana é', df_carros['potencia-CV'].median())

o valor minimo é 100
o valor maximo é 180
o valor media é 132.5
o valor mediana é 125.0

In [55]:
def filtra_por_valor (df_carros, coluna, valor):

    return df_carros[df_carros[coluna]==valor]
filtra_por_valor(df_carros, 'tipo de carro', 'sedan')

,tipo de carro,tipo de direcao,tipo de pneu,faixa de preco,potencia-CV,velocidade de cruzeiro
0,sedan,hidraulica,radial,alto,120,True

In [59]:
carro_desejado = ['sedan', 'hatchback']

# .loc - seleciona uma coluna especifica
for carro in carro_desejado:
    dados = df_carros.loc[df_carros['tipo de carro'] == carro]
    print(f'dados para {carro}:\n {dados}\n')

dados para sedan:
   tipo de carro tipo de direcao tipo de pneu faixa de preco  potencia-CV  \
0         sedan      hidraulica       radial           alto          120

   velocidade de cruzeiro
0                    True

dados para hatchback:
   tipo de carro tipo de direcao tipo de pneu faixa de preco  potencia-CV  \
2     hatchback        mecanica       radial          baixo          100

   velocidade de cruzeiro
2                    True