In [1]:
import pandas as pd

In [2]:
import json

data = {
    'nome': 'joao',
    'idade': 10,
    'cidade': 'sao paulo'
}

with open('dados.json', 'w') as file:
    json.dump(data, file)

In [3]:
# leitura dos dados

with open('dados.json', 'r') as json_file:
    dados_json = json.load(json_file)

print('dados no formato json')
print(dados_json)

dados no formato json
{'nome': 'joao', 'idade': 10, 'cidade': 'sao paulo'}

In [7]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
                                              0.0/250.0 kB ? eta -:--:--
     -------------------------------------- 250.0/250.0 kB 7.7 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
# escrevendo e lendo os dados em exel

data = {
    'nome': 'joao',
    'idade': 10,
    'cidade': 'sao paulo'
}

df = pd.DataFrame(data, index=[0])

df.to_excel('dados_excel.xlsx', index=False)

In [9]:
df.to_csv('dados_csv.csv', index=False)

In [10]:
# lendo os arquivos

df_exel = pd.read_excel('dados_excel.xlsx')
df_exel

   nome  idade     cidade
0  joao     10  sao paulo

In [11]:
# lendo os arquivos

df_csv = pd.read_csv('dados_csv.csv')
df_csv

   nome  idade     cidade
0  joao     10  sao paulo

In [21]:
# lendo os arquivos

with open('dados.json', 'r') as json_file:
    df_json = json.load(json_file)

df_json

{'nome': 'joao', 'idade': 10, 'cidade': 'sao paulo'}

In [18]:
dados = {
    'nome': ['joao', 'maria', 'pedro'],
    'idade': [30, 25, 35],
    'cidade': ['sao paulo', 'rio de janeiro', 'belo horizonte'],
    'profissao': ['engenheiro', 'professora','medico']
}

df = pd.DataFrame(dados)

In [27]:
with open('dados2.json', 'w') as file:
    json.dump(dados, file)

df2_csv = df.to_csv('dados2_csv.csv')
df2_exel = df.to_excel('dados2_exel.xlsx')

In [41]:
df2_csv = pd.read_csv('dados2_csv.csv')
df2_exel = pd.read_excel('dados2_exel.xlsx')

with open('dados2.json', 'r') as json2_file:
    df2_json = json.load(json2_file)

In [42]:
print('dados por exel\n', df2_exel)
print('\n\ndados por csv\n', df2_csv)
print('\n\ndados por json\n', df2_json)

dados por exel
    Unnamed: 0   nome  idade          cidade   profissao
0           0   joao     30       sao paulo  engenheiro
1           1  maria     25  rio de janeiro  professora
2           2  pedro     35  belo horizonte      medico


dados por csv
    Unnamed: 0   nome  idade          cidade   profissao
0           0   joao     30       sao paulo  engenheiro
1           1  maria     25  rio de janeiro  professora
2           2  pedro     35  belo horizonte      medico


dados por json
 {'nome': ['joao', 'maria', 'pedro'], 'idade': [30, 25, 35], 'cidade': ['sao paulo', 'rio de janeiro', 'belo horizonte'], 'profissao': ['engenheiro', 'professora', 'medico']}