In [1]:
import pandas as pd

In [2]:
import json

data = {
    'nome': 'joao',
    'idade': 10,
    'cidade': 'sao paulo'
}

with open('dados.json', 'w') as file:
    json.dump(data, file)

In [3]:
# leitura dos dados

with open('dados.json', 'r') as json_file:
    dados_json = json.load(json_file)

print('dados no formato json')
print(dados_json)

dados no formato json
{'nome': 'joao', 'idade': 10, 'cidade': 'sao paulo'}

In [4]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\python311\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\python311\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
# escrevendo e lendo os dados em exel

data = {
    'nome': 'joao',
    'idade': 10,
    'cidade': 'sao paulo'
}

df = pd.DataFrame(data, index=[0])

df.to_excel('dados_excel.xlsx', index=False)

In [6]:
df.to_csv('dados_csv.csv', index=False)

In [7]:
# lendo os arquivos

df_exel = pd.read_excel('dados_excel.xlsx')
df_exel

   nome  idade     cidade
0  joao     10  sao paulo

In [8]:
# lendo os arquivos

df_csv = pd.read_csv('dados_csv.csv')
df_csv

   nome  idade     cidade
0  joao     10  sao paulo

In [9]:
# lendo os arquivos

with open('dados.json', 'r') as json_file:
    df_json = json.load(json_file)

df_json

{'nome': 'joao', 'idade': 10, 'cidade': 'sao paulo'}

In [10]:
dados = {
    'nome': ['joao', 'maria', 'pedro'],
    'idade': [30, 25, 35],
    'cidade': ['sao paulo', 'rio de janeiro', 'belo horizonte'],
    'profissao': ['engenheiro', 'professora','medico']
}

df = pd.DataFrame(dados)

In [11]:
with open('dados2.json', 'w') as file:
    json.dump(dados, file)

df2_csv = df.to_csv('dados2_csv.csv')
df2_exel = df.to_excel('dados2_exel.xlsx')

In [12]:
df2_csv = pd.read_csv('dados2_csv.csv')
df2_exel = pd.read_excel('dados2_exel.xlsx')

with open('dados2.json', 'r') as json2_file:
    df2_json = json.load(json2_file)

In [13]:
print('dados por exel\n', df2_exel)
print('\n\ndados por csv\n', df2_csv)
print('\n\ndados por json\n', df2_json)

dados por exel
    Unnamed: 0   nome  idade          cidade   profissao
0           0   joao     30       sao paulo  engenheiro
1           1  maria     25  rio de janeiro  professora
2           2  pedro     35  belo horizonte      medico


dados por csv
    Unnamed: 0   nome  idade          cidade   profissao
0           0   joao     30       sao paulo  engenheiro
1           1  maria     25  rio de janeiro  professora
2           2  pedro     35  belo horizonte      medico


dados por json
 {'nome': ['joao', 'maria', 'pedro'], 'idade': [30, 25, 35], 'cidade': ['sao paulo', 'rio de janeiro', 'belo horizonte'], 'profissao': ['engenheiro', 'professora', 'medico']}

In [14]:
# merge e concat de dados

left = pd.DataFrame({
    'key': ['k0','k1','k2','k3'],
    'A': ['A0','A1','A2','A3'],
    'B': ['B0','B1','B2','B3']
})

right = pd.DataFrame({
    'key': ['k0','k1','k2','k3'],
    'C': ['C0','C1','C2','C3'],
    'D': ['D0','D1','D2','D3']
})

df_merge = pd.merge(left, right, on='key')
df_merge

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [15]:
# concatenando dados

df_concat = pd.concat([left, right])
df_concat

  key    A    B    C    D
0  k0   A0   B0  NaN  NaN
1  k1   A1   B1  NaN  NaN
2  k2   A2   B2  NaN  NaN
3  k3   A3   B3  NaN  NaN
0  k0  NaN  NaN   C0   D0
1  k1  NaN  NaN   C1   D1
2  k2  NaN  NaN   C2   D2
3  k3  NaN  NaN   C3   D3

In [16]:
# merge e concat de dados

left = pd.DataFrame({
    'key': ['k0','k1','k2','k3'],
    'A': ['A0','A1','A2','A3'],
    'B': ['B0','B1','B2','B3']
})

right = pd.DataFrame({
    'key': ['k0','k1','k2','k3'],
    'A': ['C0','C1','C2','C3'],
    'B': ['D0','D1','D2','D3']
})

df_concat = pd.concat([left, right], axis=0).reset_index()
df_concat

   index key   A   B
0      0  k0  A0  B0
1      1  k1  A1  B1
2      2  k2  A2  B2
3      3  k3  A3  B3
4      0  k0  C0  D0
5      1  k1  C1  D1
6      2  k2  C2  D2
7      3  k3  C3  D3

In [22]:
dados_json = {
    'nome': ['joao', 'maria', 'pedro'],
    'idade': [30, 25, 35],
    'cidade': ['sao paulo', 'rio de janeiro', 'belo horizonte'],
    'profissao': ['engenheiro', 'professora','medico']
}

dados_exel = {
    'nome': ['joao', 'maria', 'pedro'],
    'UF': ['SP', 'Rj', 'BH'],
}

dados_csv = {
    'nome': ['joao', 'maria', 'pedro'],
    'idade': [30, 25, 35],
    'estado civil': ['solteiro','casado','casado']
}

df_exel = pd.DataFrame(dados_exel)
df_csv = pd.DataFrame(dados_csv)

In [65]:

with open('tarefa.json', 'w') as file:
    json.dump(dados_json, file)

df3_csv = df_csv.to_csv('tarefa_csv.csv', index=False)
df3_exel = df_exel.to_excel('tarefa_exel.xlsx', index=False)

In [66]:
with open('tarefa.json', 'r') as json_tare:
    tarefa_json = json.load(json_tare)

df3_csv = pd.read_csv('tarefa_csv.csv')
df3_exel = pd.read_excel('tarefa_exel.xlsx')
df3_json = pd.read_json('tarefa.json')

TypeError: read_json() got an unexpected keyword argument 'index'

In [68]:
df_merge = pd.merge(df3_csv, df3_exel, on='nome').merge(df3_json, on='nome')
df_merge

    nome  idade_x estado civil  UF  idade_y          cidade   profissao
0   joao       30     solteiro  SP       30       sao paulo  engenheiro
1  maria       25       casado  Rj       25  rio de janeiro  professora
2  pedro       35       casado  BH       35  belo horizonte      medico