In [77]:
import numpy as np
import pandas as pd

In [ ]:
brasil = ['Rio Preto', 'Campo Grande', 'Palmas', 'Campinas', 'Salvador', 'Manaus']

tupla = tuple(brasil)

tupla

In [ ]:
tupla_lista = np.array(tupla)
tupla_lista[3] = ('Floripa')
tupla = tuple(tupla_lista)

tupla

In [ ]:
cidades_brasil = ('Rio de Janeiro', 'Sao Paulo')

tupla +cidades_brasil

In [ ]:
x = float(input('qual e o x?'))

def calc(x):
    form = (10*x**2 + 5*x -2)
    return form

calc(x)

In [ ]:
x = float(input('qual e o x?'))
y = float(input('qual e o y?'))
m = float(input('qual e a massa?'))
a = float(input('qual e a aceleracao?'))

def calc():
    equacao = (10*x**2 + 5*x -2)
    forca = m * a
    equacao3 = (y**3 + 10*y**2 - 5*y + 10)
    return equacao, forca, equacao3

segundo, forca, quadrado = calc()

print(f"A resposta do em que o x é {x}, tem o resultado de: {segundo}")
print(f"A resposta da forca em que a massa é {m} com a aceleracao de {a}, tem o resultado de: {forca}")
print(f"A resposta do em que o y é {y}, tem o resultado de: {quadrado}")

In [ ]:
produtos = {
    'Bananas': [100], 
    'maca': [150], 
    'pera': [120], 
    'melancia': [40], 
    'morango': [250], 
    'melao': [53]
}

frutas = pd.DataFrame(produtos)
frutas

In [84]:
frutas_max = np.max(frutas)
frutas_min = np.min(frutas)
frutas_media = np.mean(frutas)
print(frutas_max)
print(frutas_min)
print(frutas_media)

250
40
118.83333333333333

In [89]:
preco = {
    'datas' : ['mes 1', 'mes 2', 'mes 3', 'mes 4', 'mes 5', 'mes 6', 'mes 7', 'mes 8', 'mes 9', 'mes 10', 'mes 11', 'mes 12'],
    'preco' : [3.50,3.55,3.48,3.60,3.65,3.70,3.68,3.75,3.80 ,3.78 ,3.80 ,3.90]
}

gas = pd.DataFrame(preco)
gas

     datas  preco
0    mes 1   3.50
1    mes 2   3.55
2    mes 3   3.48
3    mes 4   3.60
4    mes 5   3.65
5    mes 6   3.70
6    mes 7   3.68
7    mes 8   3.75
8    mes 9   3.80
9   mes 10   3.78
10  mes 11   3.80
11  mes 12   3.90

In [117]:
gas.loc[gas['preco'].idxmin()]

datas    mes 3
preco     3.48
Name: 2, dtype: object

In [119]:
gas.loc[gas['preco'].idxmax()]

datas    mes 12
preco       3.9
Name: 11, dtype: object

In [ ]:
gas.loc[gas['preco'].idxmean()]